* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #f6f8f9;
    color: #434851;
    margin: 0;
    padding: 0;
}

#logo {
    margin: 20px 0px 30px 20px;
}

.animation {
    display: inline-block;
    margin-bottom: 20px;
}

.text {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    border-right: 4px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(24),
        cursor .4s step-end alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

.container {
    width: 60%;
    margin: auto;
}

button {
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #d7dcdf;
}

button:hover {
    background-color: #edeff1;
}

button:active { 
    background-color: #14aaf5;
}

.buttons {
    margin-bottom: 20px;
}

.font-size-medium {
    font-size: 18px;
}

.font-bold {
    font-weight: 700;
}

.inline {
    display: inline;
}

.status {
    display: inline-block;
    text-align: center;
    width: 20px;
    border: solid 1px;
    border-radius: 50%;
}

.text-grey {
    color: #39cab0;
}

.text-red {
    color: #ff3030;
}

.item {
    margin: 10px 0px;
}

.tag {
    color: white;
    font-size: 8px;
    padding: 5px;
    border-radius: 20px;
}

.bg-azure {
    background-color: #09a9ed;
}

.bg-blue {
    background-color: #ab5de6;
}

.bg-green {
    background-color: #2cc6ab;
}

.bg-amber {
    background-color: #ff9b00;
}

.bg-pink { 
    background-color: #ec4a9d;
}

.bg-yellow {
    background-color: #a3d116;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
